/* Orders section */
.orders-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #565656;
    background-color: #262626;
    border-radius: 5px;
    overflow-y: auto;
}
.orders-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid #565656;
}
.orders-refresh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.orders-title {
    color: #b9b9b9;
    font-weight: bold;
}
.orders-timestamp {
    font-size: 12px;
    color: #888888;
    font-style: italic;
    text-align: right;
}
.orders-name {
    font-size: 14px;
    font-weight: bold;
    color: #888888;
    padding: 2px 2px;
}
.orders-value {
    font-size: 14px;
    font-weight: normal;
    color: #828282;
    padding: 1px 1px;
}
.orders-button {
    font-size: 12px;
    font-weight: bold;
    width: 70px; /* Set a fixed width */
    height: 23px; /* Set a fixed height */
    color: #8f8f8f; /* White text */
    background-color: #484848; /* Green background */
    border: 1px solid #375f39; /* Darker green border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding for a larger clickable area */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

/* Orders table */
.orders-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    border: 1px solid #444444;
}
.orders-table th, .orders-table td {
    padding: 4px;
    text-align: left;
    border: 1px solid #444444;
    font-size: 10px;
}

.orders-table th {
    background-color: #333333;
    font-weight: bold;
}

.orders-table tr:nth-child(even) {
    background-color: #2a2a2a;
}

.orders-table tr:hover {
    background-color: #3a3a3a;
}

/* Add status-specific colors for orders */
.orders-table td{
    color: #b1b1b1;
}

.orders-table tr[data-status="FILLED"] td:nth-child(12) {
    color: var(--color-green); /* Green for filled orders */
}

.orders-table tr[data-status="PENDING"] td:nth-child(12) {
    color: var(--color-yellow); /* Yellow for pending orders */
}

.orders-table tr[data-status="CANCELED"] td:nth-child(12) {
    color: var(--color-red); /* Red for cancelled orders */
}

.orders-table tr:not([data-status="FILLED"]):not([data-status="PENDING"]):not([data-status="CANCELED"]) td:nth-child(12) {
    color: var(--color-blue); /* Blue for working orders */
}
.buy {
    color: var(--color-green); /* Green for buy orders */
}
.sell {
    color: var(--color-red); /* Red for sell orders */
}

